/* Reset default browser styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Set a default font size for the document */
html {
  font-size: 16px;
  scroll-behavior: smooth;
}

/* Use rem units for font sizes */
body {
  font-size: 1rem;
  line-height: 1.5;
  font-family: "Montserrat Alternates", sans-serif;
}

/* Add responsive design rules */
@media only screen and (min-width: 768px) {
  /* Increase font size for larger screens */
  html {
    font-size: 18px;
  }
}

/* Style the header and navigation */
header {
  color: #fff;
  padding: 1rem;
  background-image: url("/public/assets/julio-bernal-WLGx0fKFSeI-unsplash.jpg");
  background-size: cover;
  background-position: top;
  background-attachment: fixed;
  background-repeat: no-repeat;
  overflow-y: scroll;
  height: 100vh;
}

.hero {
  display: flex;
  margin-top: calc(50vh / 4);
  font-size: 1.5rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Skranji", cursive;
  letter-spacing: 0.2rem;
}

.fa-paw {
  font-size: 3.5rem;
}

.booking {
  display: flex;
  justify-content: center;
  gap: 2rem;
  height: 50vh;
  align-items: end;
}

.booking a {
  width: fit-content;
  padding: 1rem;
  font-variant: small-caps;
  border: 2px solid #fff;
  color: #fff;
  text-decoration: none;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  display: flex;
  margin: auto;
  list-style: none;
}

nav li {
  font-variant: small-caps;
  margin-left: 1rem;
}

nav li:first-child {
  margin-left: 0rem;
}

nav a {
  color: #fff;
  text-decoration: none;
}

/* Style the main content area */
main {
  padding: 2rem;
}

section {
  margin-bottom: 2rem;
}

.service {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.service img {
  max-width: 100%;
  height: auto;
}

.service h3 {
  margin-top: 1rem;
  font-size: 1.5rem;
}

.service p {
  margin-top: 1rem;
  font-size: 1rem;
}

form {
  display: flex;
  flex-wrap: wrap;
}

label {
  width: 100%;
  margin-bottom: 0.5rem;
  font-size: 1rem;
  font-weight: bold;
}

input,
textarea {
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  margin-bottom: 1rem;
}

input[type="submit"] {
  background-color: #333;
  color: #fff;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
}

/* Style the footer */
footer {
  background-color: #333;
  color: #fff;
  padding: 1rem;
  text-align: center;
}
